:root {
    --md-content-font: sans-serif;
    --md-content-size: 16px;
    --md-h1-font: sans-serif;
    --md-h1-weight: 600;
    --md-h2-font: sans-serif;
    --md-h2-weight: 600;
    --md-wrap-bgc: transparent;
    --md-content-bgc: #fff;
    --md-content-padding: 12px;
    --md-bulletPoint: "• ";
    --md-subBgc: #dedede;
    --md-code-font: monospace;
    --spacer: 12px;
}

md-wrap {
    background-color: var(--md-wrap-bgc);
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: var(--md-content-font);
    gap: 6px;
    padding: 0 6px;
}

md-content {
    font-size: var(--md-content-size);
    width: 640px;
    max-width: 100%;
    line-height: 1.3;
    background-color: var(--md-content-bgc);
    padding: var(--md-content-padding);
    display: flex;
    flex-direction: column;
    --md-content-border-radius-1: 0;
    --md-content-border-radius-2: 0;
    --md-content-border-radius-3: 0;
    --md-content-border-radius-4: 0;
    border-radius: var(--md-content-border-radius-1) var(--md-content-border-radius-2) var(--md-content-border-radius-3) var(--md-content-border-radius-4);
}

md-p {
    font-size: inherit;
}

md-h1 {
    font-size: 2em;
    font-weight: var(--md-h1-weight);
    font-family: var(--md-h1-font);
}

md-h2 {
    font-size: 1.4em;
    font-weight: var(--md-h2-weight);
    font-family: var(--md-h2-font);
}

md-redact {
    background-color: #000;
    color: transparent;
    user-select: none;
    transition: background-color 0.3s;
    padding: 2px 0;
}

md-redact:hover {
    color: #000;
    background-color: #aaa;
    user-select: inherit;
}

md-ul {
    display: flex;
    flex-direction: column;
}

md-li::before {
    content: var(--md-bulletPoint);
}

md-code {
    padding: 0 4px;
    background-color: var(--md-subBgc);
    font-family: var(--md-code-font);
}

md-spacer {
    height: var(--spacer);
}