@import url("https://cdn.22is5.com/css/reset.css");
@import url("https://cdn.22is5.com/fonts/ibm-plex-mono/font.css");
@import url("https://cdn.22is5.com/css/colors.css");
@import url("css/colors.css");

body {
  font-family: "IBM Plex Mono", monospace;
  background-color: #1f1f1f;
  color: #d1cfc0;
  padding: 16px 12px;
}

a {
  text-decoration: underline;
}

.logo,
.header {
  font-family: "IBM Plex Mono Bold";
}

.discord {
  color: var(--blurple);
}

.red {
  color: var(--red);
}
.orange {
  color: var(--orange);
}
.yellow {
  color: var(--yellow);
}
.green {
  color: var(--green);
}
.blue {
  color: var(--blue);
}
.purple {
  color: var(--purple);
}

.bold {
  font-weight: bold;
}

.copy {
  cursor:cell;
}

.name::after {
  content: ".22is5.com";
  opacity: 0.2;
  font-family: "IBM Plex Mono";
}
