@import url("https://cdn.22is5.com/css/reset.css");
@import url("https://cdn.22is5.com/fonts/smash.css");

html,
body {
    font-size: 24px;
    font-family: "Smash";
    background-color: #000;
    color: #fff;
}

.contentWrapper {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.back {
    width: 640px;
    padding: 8px;
    font-size: 22px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    background-position: center;
    background-size: cover;
    position: relative;
    background-color: #080808;
    min-width: 640px;
    max-width: 640px;
    height: 400px;
    padding: 12px;
    text-shadow: 2px 2px 1px #000;
}

.spacer {
    height: 64px;
}