@import url("css/global.css");

body {
  font-family: var(--font-regular);
  background-color: var(--black);
  color: var(--white);
  font-size: var(--font-size);
}

.content {
  padding: 16px 12px;
  width: fit-content;
}

a {
  text-decoration: underline;
}

.logo,
.header,
.bold {
  font-family: var(--font-bold);
}

.copy {
  cursor: cell;
}

.name::after {
  content: ".22is5.com";
  color: var(--gray);
  font-family: "IBM Plex Mono";
}
