@import url("https://cdn.22is5.com/css/reset.css");
@import url("https://cdn.22is5.com/fonts/mona-sans.css");
@import url("https://cdn.22is5.com/fonts/trajan.css");
@import url("https://cdn.22is5.com/fonts/times.css");
@import url("https://cdn.22is5.com/fonts/moms-typewriter.css");
@import url("https://cdn.22is5.com/fonts/minecraft.css");
body {
  display: flex;
  justify-content: center;
  background-color: var(--bg);
  padding: 12px;
  font-family: "Mona Sans";
  line-height: 1.6;
}
:root {
  --bg: #000;
  --mainbg: #dedede;
}
.main {
  width: 600px;
  background-color: var(--mainbg);
  padding: 12px;
}
embed {
  width: 100%;
  background-color: #dedede;
}
h1 {
  text-align: center;
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  user-select: none;
}
h2 {
  text-align: center;
  font-weight: 400;
  font-size: 24px;
  text-transform: lowercase;
  letter-spacing: 2px;
  line-height: 0.9;
  pointer-events: none;
  user-select: none;
}
h3 {
  font-weight: 600;
}
.links {
  display: flex;
  flex-direction: column;
  color: #485363;
  line-height: 1.2;
}
.albums {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.album {
  display: flex;
  width: 100%;
  background-position: center;
  background-size: cover;
}
.album img {
  width: 72px;
  height: 72px;
  transform: scale(1.1);
  z-index: 100;
}
.albumInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1;
  padding: 12px;
  font-size: 22px;
  width: 100%;
  backdrop-filter: brightness(50%);
  text-shadow: 0 0 8px #000;
  color: #fff;
}
#complete {
  border-right: solid 12px #0f0;
}
#incomplete {
  border-right: solid 12px #ffc400;
}
.faction {
  position: relative;
  background-color: var(--bg);
  padding: 12px;
}
.faction h6 {
  color: #fff;
  font-family: "Minecraft Bold";
  line-height: 1;
}
.faction img {
  height: 128px;
}
.faction p {
  font-family: "Minecraft Regular";
  color: #fff;
}

.faction .type {
  font-family: "Minecraft Italic";
  color: #ffffffaa;
}
