@import url("https://cdn.22is5.com/css/reset.css");
@import url("https://cdn.22is5.com/css/colors.css");
@import url("https://cdn.22is5.com/fonts/minecraft.css");
a {
  width: fit-content;
}
body {
  font-family: "Minecraft Regular";
  background-color: #efefef;
}
.parent {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 12px;
  gap: 12px;
}
.main {
  width: 512px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;
  background-color: #dedede;
  height: fit-content;
  padding: 12px;
}
h1 {
  font-family: "Minecraft Bold";
  font-size: 36px;
  padding: 0 0 12px 0;
}
h3 {
  font-family: "Minecraft Bold";
  font-size: 24px;
  padding: 12px 0 0 0;
}
.links {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  color: #354a5f;
  padding: 0 0 6px 0;
}
.imgs {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
iframe {
  width: 100%;
  aspect-ratio: 16/9;
}
.factions {
  position: relative;
  background-color: #00000010;
  width: 100%;
}
.a {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  opacity: 1;
  transition: 0.2s;
  z-index: 10;
}
.b {
  width: 100%;
  display: flex;
  justify-content: space-between;
  opacity: 1;
}
.factions img {
  width: 25%;
}
b:hover {
  opacity: 1;
}
.a:hover {
  opacity: 0;
}
